<div class="col-sm-5 col-md-3 grid-unit">
    <div class="thumbnail
    {{#unless connected }}
    offline
    {{/unless}}
    ">
        <div class="image-wrapper">
            <div class="circular image"
                style="
                {{#if username }}
                    background-image: url(http://graph.facebook.com/{{ username }}/picture?height=720&amp;width=720);
                {{else}}
                    background-image: url({{ device_image }});
                {{/if}}
                ">
                <br />
            </div>
        </div>
        <div class="caption">
            <h3>
                {{ device_name }}
            </h3>
            <p class="mac-address emph">
                {{ mac_address }}
            </p>
            {{#if device_location }}
                <p class="device-location">
                    {{ device_location }}
                </p>
            {{/if}}
            {{#if username }}
                <p class="username">
                    <a href="http://www.facebook.com/{{ username }}">
                        @{{ username }}
                    </a>
                </p>
            {{/if}}
        </div>
    </div>
</div>
